.venv/
.tools/
__pycache__/
*.pyc

anki_voice_field.log
voice_notes_log.txt
voice_note_temp.wav
tests/_test_voice_notes_log.txt

build/
dist/*
!dist/
*.ankiaddon
!dist/anki_voice_field.ankiaddon
!dist/anki_voice_field-v1.0.0.ankiaddon
!dist/anki_voice_field-v2.0.0.ankiaddon
!dist/SHA256SUMS.txt
