.venv/
__pycache__/
*.pyc

anki_voice_field.log
voice_notes_log.txt
voice_note_temp.wav
tests/_test_voice_notes_log.txt

build/
dist/*
!dist/
!dist/anki_voice_field.ankiaddon
*.ankiaddon
!dist/anki_voice_field.ankiaddon
